* {
    color: rgba(0, 0, 0, 0.8);
}


/* background img */
body {
    background-image: url('../image/turbo.jpg');
    background-color: rgba(0, 0, 0, 0.2);
    
}

/* header */
header {
    background: rgba(246, 169, 58, 0.8);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
}

/* player and faction table */

.players_rating_title,
.faction_rating_title {
    background: rgba(246, 169, 58, 0.8);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
}

.players_rating_table,
.faction_rating_table {
    background: rgba(246, 169, 58, 0.7);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
    border: 0.1em solid #000000;
}

.players_rating_table th,
.faction_rating_table th {
    background: rgba(246, 169, 58, 1);
}

.players_rating_table th,
.players_rating_table td,
.faction_rating_table th,
.faction_rating_table td {
    padding: 0.6em;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.1em solid #000000;
}

.players_rating_table_tbody tr:hover {
    background: rgba(246, 169, 58, 1);
}


/* game list */
.game_list_container {
    background: rgba(246, 169, 58, 0.5);
    height: 26em;
}

.game_list_container th {
    background: rgba(246, 169, 58, 0.8);
}

.game_list_container tr {
    background: rgba(255, 202, 125, 0.8);
}

.game_list_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #615e59;
}

.game_list_container::-webkit-scrollbar-thumb {
    background: rgba(246, 169, 58, 0.8);
}

.game_list_container td {
    background-position: center;
    background-repeat: no-repeat;
}

.game_list_first_place,
.game_list_second_place,
.game_list_third_place {
    background-size: 2.4em;
}

.game_list_fourth_place,
.game_list_fifth_place,
.game_list_sixth_place {
    background-size: 2em;
}

.game_list_first_place {
    background-image: url('../image/medal_1.png');
}

.game_list_second_place {
    background-image: url('../image/medal_2.png');
}

.game_list_third_place {
    background-image: url('../image/medal_3.png');
}

.game_list_fourth_place {
    background-image: url('../image/medal_4.png');
}

.game_list_fifth_place {
    background-image: url('../image/medal_5.png');
}

.game_list_sixth_place {
    background-image: url('../image/medal_6.png');
}

.game_list_expansions_container {
    text-align:left;
}

.game_list_expansions_container a {
    display: inline-block;
    background-position: left;
    background-repeat: no-repeat;
    height: 3em;
}

.game_list_track_usa {
    background-image: url('../image/usa.png');
    background-position: left;
    padding: 0 2em 0 0;
    background-size: 3em;
    width: 3em;
}

.game_list_track_uk {
    background-image: url('../image/uk.png');
    background-position: left;
    padding: 0 2em 0 0;
    background-size: 3em;
    width: 3em;
}

.game_list_expansions_weather_fog,
.game_list_expansions_weather_rain,
.game_list_expansions_garage{
    margin: 0.5em 0.2em 0 auto;
    background-size: 2em;
    width: 2em;
}

.game_list_expansions_weather_fog {
    background-image: url('../image/fog.png');
}

.game_list_expansions_weather_fog:hover {
    content: "Туман";
}

.game_list_expansions_weather_rain {
    background-image: url('../image/rain.png');
}

.game_list_expansions_garage {
    background-image: url('../image/garage.png');
}

/* turbo */


/* footer */
footer {
    background: rgba(246, 169, 58, 0.8);
}