/* background img */
body {
    background-image: url('../image/sky_team.png');
    background-color: rgba(0, 0, 0, 0);
}

/* header */
header {
    background: rgba(28, 70, 133, 0.8);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
}

/* player and faction table */

.players_rating_title,
.faction_rating_title {
    background: rgba(28, 70, 133, 0.9);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
}

.players_rating_table,
.faction_rating_table {
    background: rgba(61, 123, 224, 0.8);
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
    border: 0.1em solid #000000;
}

.players_rating_table th,
.faction_rating_table th {
    background: rgba(28, 70, 133);
}

.players_rating_table th,
.players_rating_table td,
.faction_rating_table th,
.faction_rating_table td {
    padding: 0.6em;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.1em solid #000000;
}

.players_rating_table_tbody tr:hover {
    background-color: #1c4685;
}

/* pilots */

.complexity_green th {
    background: rgba(69, 132, 27, 1) !important;
}

.complexity_green td {
    background: rgba(76, 150, 27, 0.6) !important;
}

.complexity_yellow th {
    background: rgba(156, 131, 20, 1) !important;
}

.complexity_yellow td {
    background: rgba(213, 187, 55, 0.6) !important;
}

/*.complexity_red {
    background: linear-gradient(90deg, #610b18 -30%, #ffffff00 100%);
}

.complexity_black {
    background: linear-gradient(90deg, #610b18 -30%, #ffffff00 100%);
}
*/

.game_win {
    color: #1c2c8c;
}

.game_lose {
    color: #e08355;
}

/* game list */
.game_list_container {
    background: rgba(0, 11, 46, 0.7);
}

.game_list_container table {
    border: 0.1em solid #000000;
    box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0, 0, 0, 0.8);
}

.game_list_container th {
    background-color: #1c4685;
    border-bottom: 0.1em solid #000000;
}

.game_list_container td {
    border-bottom: 0.1em solid #000000;
    background: rgba(61, 123, 224);
}

.game_list_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #615e59;
}

.game_list_container::-webkit-scrollbar-thumb {
    background: rgba(61, 123, 224, 0.8);
}

/* footer */
footer {
    background: rgba(61, 123, 224, 0.8);
}